.boja{
    background-color: #c7ede4;
    color: black;
}

.accordion-button{
    font-size: 1.7rem;
    font-weight: 500;
}
.accordion-body{
    font-size: 1.3rem;
}
.podebljaj{
    font-size: 1.5rem;
}


@media screen and (max-width: 600px) {
    .accordion-button{
        font-size: 1.5rem;
    }
    .accordion-body{
        font-size: 1.1rem;
    }
    .podebljaj{
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 400px) {
    .accordion-button{
        font-size: 1.3rem;
    }
    .accordion-body{
        font-size: 0.8rem;
    }
    .podebljaj{
        font-size: 1.1rem;
    }
}