<div class="container-fluid boja">
    <div class="mojKontenjer">
        <br/><br/><h1 class="naslov">O DOZNAKAMA</h1>
        <br/><br/><br/><p class="ukratko">
            Doznaka predstavlja iznos novca koji se najčesšće šalje u inostranstvo. Postoji više načina slanja. Najsigurnija opcija je 
            svakako putem međunarodnog platnog prometa, bankovnih računa ili servisa za slanje novca (regulirani putevi slanja) pa do 
            osobne dostave (neregulirani). Prema dostupnim podacima u 2019. godini iznos novčanih doznaka u BiH je iznosio oko 2,7 milijardi 
            konvertibilnih maraka. Ukoliko to usporedimo s relativnim odnosom prema BDP-u (bruto društvenom proizvodu) doznake iznose oko 8% 
            BDP-a Bosne i Hercegovine.
        </p><br/>
        <h4>Korisnici doznaka i financijske navike</h4><hr><br/>
        <p class="paragraf">
            Rezultati istraživanja upozoravaju da financijska uključenost nije na zadovoljavajućoj razini. Sve banke u BiH nude usluge 
            međunarodnog platnog prometa putem otvorenog računa. Ipak, većina naših građana doznake iz inozemstva prima u gotovom novcu.
            Iako većina stanovništva posjeduje mobilne aparate i ima Internet konekciju, mobilno i Internet bankarstvo se kod nas srazmjerno 
            malo koristi, pored toga što su benefiti očigledni. Plaćate iz udobnosti doma, uz niže naknade, bez gubljenja vremena i izlaganja
             zdravstenom riziku. Svugdje u svijetu se bilježi trend rasta korištenja ovih usluga.
            <br/><br/>Anketirani građani navode nedovoljnu transparentnost u načinu pružanja ovih usluga, nevoljko napuštanje navika, strah od novih 
            tehnologija i manjak informacija kao razloge zbog kojih se odlučuju za posrednike.
            Vrijeme je da to mijenjamo.
            Istraživanje je pokazalo da su cijena, brzina, sigurnost i pristupačnost usluga transfera novca ključni čimbenik za izbor načina na koji će novac biti poslan. Iako je 70 posto ispitanika navelo da regulirani kanali imaju više prednosti od nereguliranih, ipak je 50 % reklo da ne koriste banke i servise redovno.
            Ipak, okolnosti kakve su nastale zbog pandemije COVID 19, nameću potrebu preispitivanja dosadašnjih navika i stavova.
        </p><br/>
        <h3>Ograničenje kretanja i utjecaj na transfer novca</h3><hr><br/>
        <p class="paragraf">
            Situacije ograničenog ili obustavljenog kretanja na međunarodnoj razini, kakva je djelomično i danas zbog učinka pandemije, 
            istaknula je manjkavosti nereguliranih kanala transfera novca iz inozemstva i nametnula potrebu financijske edukacije i podizanja
            razine uključenosti korisnika doznaka. Kako veliki broj naših sugrađana ovisi o doznakama iz inozemstva, smatramo da je 
            sveobuhvatna financijska edukacija prioritet na osobnoj i kolektivnoj razini.<br/><br/><br/>
        </p>
    </div>
</div>