.boja{
    background-color: #71f79f;
    color: black;
}
.objava{
    border: 5px solid #297e13;
    background-color: #39c21dbd;
    border-radius: 30px;
    padding: 10px;
}

.objava:hover{
    border: 5px solid #39c21dbd;
    background-color: #297e13;
    color:white;
    cursor: pointer;
}

.views{
    font-size: 1rem;
    font-weight: 600;
}
.sadrzaj{
    font-size: 1.1rem;
}
.naslov{
    font-size: 1.4rem;
}
.form-control{
    width: 40rem;
}
.podebljaj{
    font-size: 1.5rem;
}
input{
    font-size: 1.7rem;
    background-color: #ddfde8;
}

@media screen and (max-width: 770px) {
    .form-control{
        width: 30rem;
    }
}
@media screen and (max-width: 550px) {
  .form-control{
      width: 20rem;
  }
}
@media screen and (max-width: 330px) {
    .form-control{
        width: 15rem;
    }
    .podebljaj{
        font-size: 0.9rem;
    }
}